.message-container {
  padding: 8%;
  text-align: center;
}

.message-container h3 {
  color: #000;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.email {
  border: 1px solid rgb(175, 172, 172);
  border-radius: 20px;
  padding: 10px;
  width: 30%;
}

.message-container p {
  text-align: center;
  font-size: 1rem;
}
.message-container .d-inline-block p {
  margin-top: 0 !important;
}

.message-container a:hover {
  text-decoration: underline !important;
}

#btn-shop{
  background-color: orange;
}
#btn-shop:hover{
  background-color: rgb(255, 145, 0);
border: 1px solid orange;
}
