.go-back {
  display: inline-block;
  padding: 1em 1em 1em 0em;
}

.go-back button {
  padding: 0.25em 0.5em 0.25em 3em;
  background-color: #fff;
  background-image: url(https://uploads-ssl.webflow.com/607db83d3655938669f3191a/60a51a014db5ff4d90af0d4f_arrow-left_button_dark.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.product-images img {
  max-width: 100%;
}

.product-info {
  position: sticky;
  top: 110px;
  height: 100%;
}

.product-price {
  font-size: 1.35em;
  font-weight: 500;
}

.product-price-wrapper {
  padding-bottom: 0.75em;
  border-bottom: 1px solid black;
}

p {
  margin-top: 0.8em !important;
  margin-bottom: 1em !important;
  font-size: 1.1em;
  line-height: 160%;
  text-align: justify;
}

.quantity-wrapper {
  display: flex;
  min-height: 38px;
  margin-right: 2em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  align-items: center;
  border-radius: 40px;
  background-color: var(--main-bg-color);
}

.product-quantity {
  color: black;
  width: 38px;
  margin-bottom: 0;
  padding: 0.5em 0;
  border-style: none;
  background-color: transparent;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
}

.product-quantity:focus {
  outline: none;
}

.product-quantity::-webkit-outer-spin-button,
.product-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.quantity-modifier {
  cursor: pointer;
  display: flex;
  width: 2em;
  height: 100%;
  min-height: 38px;
  justify-content: center;
  align-items: center;
}

.buy-product-wrapper {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.add-to-cart-button {
  background-color: var(--main-bg-color);
  border: 0;
  color: black;
  border-radius: 40px;
  width: 100%;
  padding: 0.2em;
  transition: background-color 0.1s ease-in-out;
  min-width: 100px;
}

.add-to-cart-button:hover,
.quantity-wrapper:hover {
  background-color: var(--seg-bg-color);
}
