.suggested-item {
  cursor: pointer;
  padding: 1em;
}

.suggested-image-wrapper {
  position: relative;
  background-color: rgba(245, 245, 245, 0.603);
  z-index: -1;
}

.suggested-image-one,
.suggested-image-two {
  width: 100%;
  object-fit: cover;
  transition: opacity 0.2s;
}

.suggested-image-two {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.suggested-item:hover .suggested-image-one {
  opacity: 0;
}

.suggested-item:hover .suggested-image-two {
  opacity: 1;
}
