.left-col{
    border-right: 1px solid #C8C9CA;
}

.button{
    background-color: orange;
    border: 1px solid orange;
    color:#000
}

.payment{
    margin-top: 60px;
    margin-bottom: 60px;
}

.personal-data ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.subtitle{
    color: orange;
}

.checkbox-round-pay{
    appearance: none;
    background-color: white;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 50%;
    cursor: pointer;
    height: 1em;
    margin-right: 3px;
    vertical-align: middle;
    width: 1em;
}

.checkbox-round-pay:checked {
    background-color: rgba(255, 153, 0, 0.93);
}