:root{
    --orange:#ff9d00 ;
    --grey: #696969;
}

.left-col{
    border-right: 1px solid #C8C9CA;
}

.button-confirm{
    background-color: var(--grey)!important;
    border: 1px solid var(--grey)!important;
    font-size: 1rem  !important;
}
.button-confirm:hover{
    background-color:#414141!important;
}


.button-order{
    background-color: var(--orange)!important;
    border: 1px solid var(--orange)!important;
    font-size: 1rem  !important;
}
.button-order:hover{
    background-color:orange!important;
   
}

.payment{
    margin-top: 60px;
    margin-bottom: 60px;
}

.personal-data ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.subtitle{
    color: var(--orange);
}

.checkbox-round-pay{
   
    border-radius: 50%;
    cursor: pointer;
    height: 1em;
    margin-right: 10px;
    vertical-align: middle;
    width: 1em;
}



.data-container{
    margin-left: 15px;
}
@media (max-width:1200px) {
    .data-container{
        margin-left: 0;
    }
}

.login-checkout {
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
}