* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: rgb(255, 195, 116);
  --seg-bg-color: rgb(255, 166, 0);
}

/* nav home */

.nav-home {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
}

.nav-home h1 {
  font-size: 1.5rem;
  margin: 15px;
}

.nav-home-items {
  display: flex;
  font-size: 1rem;
  list-style: none;
  padding-bottom: 0;
}

.nav-home-items .nav-home-item {
  display: flex;
  margin: 0 15px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.nav-home-item p {
  margin: 15px;
}

.nav-home-items svg {
  width: 10px;
  height: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  transition: 0.3s;
}

.nav-home-item:hover {
  border-bottom: 3px solid var(--main-bg-color);
}

.nav-home-item:hover .icon--arrow-bottom1 {
  transform: rotate(180deg);
}

.nav-home-item:hover .icon--arrow-bottom2 {
  transform: rotate(180deg);
}

.nav-home-item:hover .icon--arrow-bottom3 {
  transform: rotate(180deg);
}

.nav-home-item:hover .icon--arrow-bottom4 {
  transform: rotate(180deg);
}

.utilities-home {
  font-size: 0.8rem;
  display: flex;
}

.utilities-home p {
  font-size: 1rem;
  margin: 15px;
}
.utilities-home svg {
  margin: 12px;
  margin-left: 10px;
}

.menu-hover1 {
  position: absolute;
  top: 65px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  padding: 100px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.541);
  transition: 0.3s;
  box-shadow: 2px 2px 15px gray;
}
.nav-home-item1:hover ~ .menu-hover1 {
  background-color: white;
  visibility: visible;
  opacity: 1;
}

.menu-hover1:hover {
  background-color: white;
  visibility: visible;
  opacity: 1;
}

.left-menu h5{
  font-size: 1.8rem;
}

.left-menu p{
  font-size: 0.8rem;
  margin-right: 200px;
}

.left-menu h6{
  margin-top: 20px;
}

.left-menu h6 svg {
  margin: 0;
  height: 20px;
  width: 20px;
}

.card-nav {
  text-align: center;
}

.card-nav h4 {
  font-size: 1rem;
}

/*  main home */

.main-img {
  height: 800px;
  background-color: gainsboro;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; */
}

.main-img button {
  width: 170px;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--main-bg-color);
  border: none;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.main-img button:hover {
  background-color: var(--seg-bg-color);
}

.main-img button:hover .arrow-main-button {
  transform: translateX(10px);
}

.arrow-main-button {
  height: 36px;
  transition: 0.3s;
}

.main-img h3 {
  font-size: 4.5rem;
}

/* featured */

.featured {
  margin-bottom: 100px;
}

.title-featured {
  margin: 120px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title-featured span {
  background-color: rgb(252, 231, 193);
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 0.7rem;
}

.title-featured h4 {
  margin-top: 30px;
  background-color: white;
  font-size: 3.5rem;
}

.featured-img-left {
  width: 100%;
  border-radius: 20px;
}

.featured-card {
  padding: 50px;
}

.right-img-card {
  height: 200px;
}

.featured-card-button {
  border: none;
  background-color: var(--main-bg-color);
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 0.7rem;
  transition: 0.3s;
}

.featured-card-button:hover {
  background-color: var(--seg-bg-color);
}

/* story home */

.story-img {
  margin-bottom: 3000px;
}

.parallax-story {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.h-parallax {
  font-size: 4rem;
}
