* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: rgb(255, 195, 116);
  --seg-bg-color: rgb(255, 166, 0);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-bg-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--seg-bg-color);
}

/* nav home */

.nav-home {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.nav-home h1 {
  font-size: 1.5rem;
  margin: 15px;
}

.nav-home-items {
  display: flex;
  font-size: 1rem;
  list-style: none;
  padding-bottom: 0;
}

.nav-home-item {
  display: flex;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.nav-home-item svg {
  display: none !important;
  width: 10px;
  height: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  transition: 0.3s;
}

.nav-home-item:hover {
  border-bottom: 3px solid var(--main-bg-color);
}

.nav-home-item:hover .icon--arrow-bottom1 {
  transform: rotate(180deg);
}

.nav-home-item:hover .icon--arrow-bottom2 {
  transform: rotate(180deg);
}

.nav-home-item:hover .icon--arrow-bottom3 {
  transform: rotate(180deg);
}

.nav-home-item:hover .icon--arrow-bottom4 {
  transform: rotate(180deg);
}

.utilities-home {
  font-size: 0.8rem;
  display: flex;
}

.utilities-home p {
  font-size: 1rem;
  margin: 15px;
}
.utilities-home svg {
  margin: 12px;
  margin-left: 10px;
}

.menu-hover1 {
  position: absolute;
  top: 80px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  padding: 50px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.541);
  transition: 0.3s;
  box-shadow: 2px 2px 15px gray;
}
.nav-home-item1:hover ~ .menu-hover1 {
  background-color: white;
  visibility: visible;
  opacity: 1;
}

.menu-hover1:hover {
  background-color: white;
  visibility: visible;
  opacity: 1;
}

.categorie-nav {
  font-size: 1.5rem !important;
}

.left-menu h5 {
  font-size: 1.8rem;
}

.left-menu p {
  font-size: 0.8rem;
  /* margin-right: 200px; */
}

.left-menu h6 {
  margin-top: 20px;
}

.left-menu h6 svg {
  margin: 0;
  height: 20px;
  width: 20px;
}

.card-nav {
  text-align: center;
  padding: 0 60px;
}

.card-nav h4 {
  font-size: 1rem;
}

/*  main home */

.main-img {
  height: 800px;
  background-color: gainsboro;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; */
}

.main-img button {
  width: 170px;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--main-bg-color);
  border: none;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.main-img button:hover {
  background-color: var(--seg-bg-color);
}

.main-img button:hover .arrow-main-button {
  transform: translateX(10px);
}

.arrow-main-button {
  height: 36px;
  transition: 0.3s;
}

.main-img h3 {
  font-size: 4.5rem;
}

/* featured */

.featured {
  margin-bottom: 100px;
}

.title-featured {
  align-items: center;
  display: flex;
  margin: 120px 0;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: -1;
  padding: 10px;
}

.title-featured span {
  background-color: rgb(252, 231, 193);
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 0.7rem;
}

.title-featured h4 {
  background-color: white;
  font-size: 3.5rem;
  margin-top: 30px;
}

.featured-img-left {
  border-radius: 20px;
  width: 100%;
}

.featured-card {
  padding: 40px;
}

.right-img-card {
  width: 100%;
  /* height: 200px; */
}

.featured-card-button {
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 50px;
  font-size: 0.9rem;
  padding: 10px 20px;
  transition: 0.3s;
}

.featured-card-button:hover {
  background-color: var(--seg-bg-color);
}

.checkout {
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  margin-left: 25%;
  padding: 10px 25px;
  transition: 0.3s;
}

.checkout:hover {
  background-color: rgb(255, 149, 0);
  color: #fff;
}
/* story home */

.story-img {
  margin-bottom: 150px;
}

.parallax-story {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.h-parallax {
  font-size: 4rem;
}

.main-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 70px;
}

.main-services span {
  font-size: 0.8rem;
  background-color: rgb(252, 231, 193);
  padding: 8px 20px;
  border-radius: 50px;
  margin-bottom: 30px;
}

.main-services h5 {
  font-size: 3rem;
}

.main-services p {
  font-size: 0.9rem;
}

.services {
  margin-bottom: 150px;
}

.service {
  padding: 30px;
}

.services-types {
  text-align: center;
}

.services-types img {
  width: 100%;
  margin-bottom: 20px;
}

.services-types h4 {
  font-size: 1.4rem;
}

.services-types p {
  font-size: 0.9rem;
}

.login-home {
  background-color: transparent;
}

.loginMessage {
  color: red;
}

.login-register {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 30px;
}

.login-home button {
  font-size: 1.5rem;
  border: none;
  background-color: white;
}

.login-home h6 {
  font-size: 1.2rem;
}

.login-home label {
  margin-top: 20px;
}

.login-home input {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: rgb(232, 240, 254);
}

.login-home input:focus {
  background-color: rgb(232, 240, 254);
}

.login-home .login-button {
  border: none;
  font-size: 1rem;
  background-color: var(--main-bg-color);
  padding: 5px 30px;
  border-radius: 50px;
  margin-top: 20px;
}

.form-register {
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  padding: 20px;
}

.form-login {
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  padding: 20px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler span {
  background-image: url("../../img/others/menu-hamburguesa.png") !important;
}

.yourcart {
  padding-bottom: 30px;
}

.cartItem .img-info {
  display: flex;
}

.cartItem {
  margin-bottom: 40px;
  border-bottom: 1px solid gray;
}

.cartItem img {
  width: 100px;
  height: 80px;
}

.cartItem .cartInfo {
  margin-left: 15px;
}

.cartItem .cartInfo h4 {
  font-size: 1rem;
}

.cartItem .cartInfo p {
  font-size: 0.8rem;
}

.cartItem .cartButtons {
  display: flex;
  align-items: center;
}

.cartItem .cartButtons p {
  padding-top: 5px;
  margin: 0 10px;
}

.cartItem .cartButtons button {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: var(--main-bg-color);
  color: rgb(53, 52, 52);
}

.cartItem .cartButtons .countButtons {
  width: 30px;
  height: 30px;
}

.cartItem .cartButtons .countRbuttons {
  background-color: #fff;
  margin-left: 100px;
  /* height: 30px; */
  padding: 8px;
}

.subtotalP {
  display: flex;
  justify-content: space-between;
}

.solapa {
  position: fixed;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  right: 0;
  top: 400px;
  background-color: var(--main-bg-color);
  padding: 20px 10px;
  border-radius: 10px 0 0 10px;
  z-index: 100;
  transition: 0.3s;
}

.solapa:hover {
  background-color: var(--seg-bg-color);
}
