/* header */
.header-container{
    background-color:#FAF9F5 ;
    padding: 150px;
}
.header-content{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.header-title{
    font-size: 4rem;
    text-align: center;
}
.header-img{
    width: 70%;
}
.header-text{
    color: #7C7C7B;
    text-align: center;
}

/* nav products */
.nav-container{
    background-color: #F1EFE5;
    border-bottom: 2px solid rgb(0, 0, 0,.1);
    height: 90px;

}
.nav-products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
   ;
}
.filter{
   display: inline;
   margin-left: 10px; 
}

button{
    border: none;
}


/* bikes */
.bikes-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card-text {
    color: #727272;
    font-size: 0.9rem;
    margin-top: 0;
}


/* products and categories container  */
.products-container{
    margin: 0 8%;
}

/* categories  */

.accordion{
background-color: #fff;
}

.category li{
    color:#2F2F2F;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 5px;
}
.checkbox-round{
    appearance: none;
    background-color: white;
    border: 1px solid rgb(79, 76, 76);
    border-radius: 50%;
    cursor: pointer;
    height: 1.3em;
    margin-right: 3px;
    vertical-align: middle;
    width: 1.3em;
}
.checkbox-round:checked {
    background-color: rgb(0, 0, 0);
}
.a-link{
    color: #000;
    font-size: 0.9rem;  
    margin-left: 5px;
}
.a-link:hover{
    color: #000;
}

@media (max-width:999px) {
    .accordion{
        display: none;
    }
}