/* header */
.header-container{
    background-color:#FAF9F5 ;
    padding: 60px;
}
.header-content{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.header-title{
    font-size: 4rem;
    text-align: center;
}
.header-img{
    width: 70%;
}
.header-text{
    color: #7C7C7B;
    text-align: center;
}

/* nav products */
.nav-products{
    background-color: #F1EFE5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid rgb(0, 0, 0,.1);
}

.nav-filter-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding-top: 1rem;
}

.nav-view{
    padding-top: 1rem;
}

button{
    border: none;
}


/* bikes */
.bikes-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.card-text{
    color: #727272;
    font-size: 1rem;
    margin-bottom: 0;
}

.product-img{
    width: 100%;
}

/* categories  */
.icon{
    height: 10px;

}
li{
    color:#2F2F2F;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 5px;
}
.checkbox-round{
    appearance: none;
    background-color: white;
    border: 1px solid rgb(133, 132, 132);
    border-radius: 50%;
    cursor: pointer;
    height: 1.3em;
    margin-right: 3px;
    outline: none;
    vertical-align: middle;
    -webkit-appearance: none;
    width: 1.3em;
}
.checkbox-round:checked {
    background-color: rgb(0, 0, 0);
}
.a-link{
    color: #000;
    font-size: 0.9rem;  
    margin-left: 5px;
}
.a-link:hover{
    color: #000;
}