.thanks-container{
    align-items: center;
   display: flex;
    flex-direction: column;
    margin-top: 10%;
height:400px ;    
max-width: 100%;
padding: 1rem 0;
   
}

.btn-return{
    background-color: rgb(255, 195, 116) !important;
    border: 1px solid rgb(255, 195, 116) !important;
    color: #fff;
    font-size: 1.1rem;
}
.btn-return:hover{
    background-color: rgb(255, 166, 0) !important;
    border: 1px solid rgb(255, 166, 0) !important;
    color: #fff;
}
